@layer base {
  /* Headline 1 */
  h1,
  .h1 {
    @apply font-heading text-2xl md:text-3xl lg:text-[32px];
  }

  /* Headline 2 */
  h2,
  .h2 {
    @apply font-heading text-2xl md:text-3xl lg:text-[32px] -tracking-[0.01rem];
  }

  /* Headline 3 */
  h3,
  .h3 {
    @apply font-heading text-xl md:text-2xl -tracking-[0.01rem];
  }

  /* Headline 4 */
  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.55;
  }

  /* Headline 5 */
  h5,
  .h5 {
    @apply text-base font-medium tracking-widest;
  }

  /* Headline 6 */
  h6,
  .h6 {
    @apply text-sm font-medium tracking-widest;
  }

  p {
    @apply text-base text-body-light;
  }

  ul {
    @apply text-base;
  }

  label {
    @apply font-medium cursor-pointer;

    > a {
      @apply text-primary;
    }
  }

  button,
  [role='button'],
  [type='reset'],
  [type='submit'] {
    @apply relative;
    font-size: 0.875rem;
    line-height: 1.715;
  }
}
